.header {
  padding:10px;
  background: #04abd4;
  color: black;
}

#title {
  font-size: 30px;
  text-align: left;
}

#loginResult {
  color:red;
  font-size: 20px;
}

input[type=text], input[type=password] {
  width:100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  padding: 5px 5px;
  border-radius: 4px;
  margin: 0 50% 0 50%;
}

div > #loginDiv, #accessUIDiv {
  margin:auto;
  margin-top:20px;
  width: 20%;
  padding:30px;
  background-color:#04abd4;
}